<h1 class="center">Service</h1>


<div style="height: 500px; overflow: auto" >
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Service id</th>
      <th>Service name</th>
      <th>Category</th>
      <th>Default Commission</th>
      <th>active</th>
        <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service|%>
    <tr>
      <td> <%=service.id %></td>
      <td> <%=service.name %></td>
      <td> <%= @categories.find(service.category_id).name %></td>
      <td> <%=service.default_commission %></td>
      <td> <%=service.active %></td>


        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Show', service %></td>
      </tr>
      <% end %>

  </tbody>

</table>
</div>

<%= link_to 'New Service', new_service_path, class: "btn btn-md btn-primary"%>
