<p id="notice"><%= notice %></p>

<div class="form-horizontal">
<p>
  <strong>Rate Card Id : </strong>
  <%= @rate_card.id %>
</p>
<p>
  <strong>Vendor : </strong>
  <%= @rate_card.vendor.name %>
</p>
<p>
  <strong>Vehicle : </strong>
  <%= @rate_card.vehicle.model %>
</p>
<p>
  <strong>Service : </strong>
  <%= @rate_card.service.name %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @rate_card.rate %>
</p>

<p>
  <strong>Active:</strong>
  <%= @rate_card.active %>
</p>
</div>

<div>
  <%= link_to 'Edit', edit_rate_card_path(@rate_card) %> |
  <%= link_to 'New Rate Card', new_rate_card_path%> |
  <%= link_to 'All Rate Cards', rate_cards_path%>
</div>
