
<p id="notice"><%= notice %></p>

<h1 class="center">Vendor Contract Map</h1>
<div class="form-horizontal center container">
  <div class="form-group ">
    <label class="col-sm-2" >Select Vendor :</label>
    <%= collection_select :vende_contrct_map , :vende_contrct_map_id, Vendor.order(:name), :id, :name, {:include_blank => false},{  prompt: "Select a city" , class: "col-sm-10"} %>
  </div>
  <div class="form-group center">
    <input type="button" id ="vende_contrct_map_index_filter_button" class="btn btn-md btn-primary center" value="Submit">
  </div>
</div>
<div style="height: 500px; overflow: auto" >
<table id="vende_contrct_map_index_table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Vendor contract</th>
      <th>Vendor Name</th>
      <th>Category</th>
      <th>Commission</th>
      <th>Is inclusive</th>
      <th>Active</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @vende_contrct_maps.each do |vende_contrct_map| %>
      <tr>
        <td><%= vende_contrct_map.vendor_contract.id %></td>
          <td><%= vende_contrct_map.vendor_contract.vendor.name %></td>
        <td><%= vende_contrct_map.category.name %></td>
        <td><%= vende_contrct_map.commission %></td>
        <td><%= vende_contrct_map.is_inclusive %></td>
        <td><%= vende_contrct_map.active %></td>
        <td><%= link_to 'Show', vende_contrct_map %></td>
        <td><%= link_to 'Edit', edit_vende_contrct_map_path(vende_contrct_map) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Vendor Contract Map', new_vende_contrct_map_path %>
