<h1 class="center">States</h1>
<div style="height: 500px; overflow: auto" >
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>State id</th>
      <th>State name</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @states.each do |state|%>
    <tr>
      <td> <%=state.id %></td>
      <td> <%=state.name %></td>
        <td><%= link_to 'Edit', edit_state_path(state) %></td>
        <td><%= link_to 'Show', state %></td>

      </tr>
      <% end %>

  </tbody>
</table>
</div>
<%= link_to 'New state', new_state_path, class: "btn btn-md btn-primary"%>
