<h1 class="center">Vendors</h1>
<div style="height: 500px; overflow: auto" >
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Vendor id</th>
      <th>Vendor Name</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>Region</th>
      <th>City</th>
      <th>State</th>
      <th>Ranking</th>
      <th>Vendor Type</th>
      <th>Contact Name</th>
      <th>Contact Number</th>
      <th>Contact Email</th>
      <th>Listing Category</th>

      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @vendors.each do |vendor|%>
    <tr>
      <td> <%=vendor.id %></td>
      <td> <%=vendor.name %></td>
      <td> <%=vendor.address1 %></td>
      <td> <%=vendor.address2 %></td>
      <td> <%= vendor.region.name %></td>
      <td> <%= vendor.city.name %></td>
      <td> <%= vendor.state.name %></td>
      <td> <%=vendor.ranking %></td>
      <td> <%= vendor.vendor_type.vendor_type %></td>
      <td> <%=vendor.contact_name_1 %></td>
      <td> <%=vendor.contact_mob_1 %></td>
      <td> <%=vendor.contact_email_1 %></td>
      <td> <%=vendor.listing_category %></td>
        <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
        <td><%= link_to 'Show', vendor %></td>

      </tr>
      <% end %>

  </tbody>
</table>
</div>
<%= link_to 'New Vendor', new_vendor_path, class: "btn btn-md btn-primary"%>
