<%= form_for(vehicle) do |f| %>
<% if vehicle.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

  <ul>
    <% vehicle.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="form-horizontal">
  <div class="form-group">
    <div class="field">
      <%= f.label "Vehicle Type" ,class: "control-label col-sm-2" %>
      <select name="vehicle[v_type]">

        <option value="Two wheeler">Two Wheeler</option>
        <option value="Four Wheeler">Four Wheeler</option>

      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label "Brand" ,class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <select name="vehicle[brand_id]">
          <%= @brands.each do |brand| %>
          <option value="<%= brand.id %>"><%= brand.name %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="field">
      <%= f.label "Model" ,class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_field :model %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label "Variant"  ,class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_field :variant %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label "Transmission" ,class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.select :transmission,
    options_for_select([['auto','auto'],['manual','manual']], params[:transmission]),
    {}, { :class => 'span3 controls controls-row' } %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :active ,class: "control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.check_box :active %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class=" actions col-sm-offset-2 col-sm-10">
      <%= f.submit %>
    </div>
  </div>
  <% end %>
  <div>
