<p id="notice"><%= notice %></p>
<p>
  <strong>Vehicle Type : </strong>
  <%= @vehicle.v_type %>
</p>
<p>
  <strong>Brand Name Type : </strong>
  <%= @vehicle.brand_id %>
</p>
<p>
  <strong>Model : </strong>
  <%= @vehicle.model %>
</p>
<p>
  <strong>Variant : </strong>
  <%= @vehicle.variant %>
</p>
<p>
  <strong>Transmission : </strong>
  <%= @vehicle.transmission %>
</p>


<p>
  <strong>Active:</strong>
  <%= @vehicle.active %>
</p>
