<p id="notice"><%= notice %></p>

<div class="form-horizontal">
<p>
  <strong>Vehicle Type : </strong>
  <%= @vehicle.v_type %>
</p>
<p>
  <strong>Brand Name Type : </strong>
  <%= @vehicle.brand_id %>
</p>
<p>
  <strong>Model : </strong>
  <%= @vehicle.model %>
</p>
<p>
  <strong>Variant : </strong>
  <%= @vehicle.variant %>
</p>
<p>
  <strong>Transmission : </strong>
  <%= @vehicle.transmission %>
</p>


<p>
  <strong>Active:</strong>
  <%= @vehicle.active %>
</p>
</div>

<div>
  <%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
  <%= link_to 'New Vehicle', new_vehicle_path%> |
  <%= link_to 'All vehicles', vehicles_path%>
</div>
