<h1 class="center">Cities</h1>


<div style="height: 500px; overflow: auto" >
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>City id</th>
      <th>City name</th>
      <th>State</th>
      <th>active</th>
        <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city|%>
    <tr>
      <td> <%=city.id %></td>
      <td> <%=city.name %></td>
      <td> <%= city.state.name %></td>
      <td> <%=city.active %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
          <td><%= link_to 'Show',city %></td>
      </tr>
      <% end %>

  </tbody>

</table>
</div>

<%= link_to 'New City', new_city_path, class: "btn btn-md btn-primary"%>
