<h1 class="center">Category</h1>
<div style="height: 500px; overflow: auto" >
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Category id</th>
      <th>Category name</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category|%>
    <tr>
      <td> <%=category.id %></td>
      <td> <%=category.name %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Show', category %></td>

      </tr>
      <% end %>

  </tbody>
</table>
</div>
<%= link_to 'New Category', new_category_path, class: "btn btn-md btn-primary"%>
