
<%= form_for(vendor_contract) do |f| %>
<% if vendor_contract.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(vendor_contract.errors.count, "error") %> prohibited this region from being saved:</h2>

  <ul>
    <% vendor_contract.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="form-group">
  <div class="field">
    <%= f.label "Vendor Name" ,class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.select(:vendor_id, @vendors , :required => true ) %>
    </div>
  </div>
</div>





<div class="form-group">
  <div class="field">
    <%= f.label "Start date" ,class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :start_date, 'data-provide' => 'datepicker' , id: "start_date_select" , :required => true %>
    </div>
  </div>
</div>



<div class="form-group">
  <div class="field">
    <%= f.label "End Date" ,class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :end_date, 'data-provide' => 'datepicker', id: "end_date_select" , :required => true %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label "Comment" ,class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :comments %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label "Listing Fees" ,class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :listing_fees%>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="field">
    <%= f.label "Amount Paid" ,class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :listing_fees_paid , :required => true %>
    </div>
  </div>
</div>




<div class="form-group">
  <div class="field">
    <%= f.label :active ,class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.check_box :active %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class=" actions col-sm-offset-2 col-sm-10">
    <%= f.submit %>
  </div>
</div>
<% end %>
<div>
