<h1 class="center">Vendor Contract</h1>


<div style="height: 500px; overflow: auto" >
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Contract id</th>
      <th>Vendor</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Comments</th>
      <th>Listing Fees</th>
      <th>Amount Fees</th>
      <th>active</th>
        <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @vendor_contracts.each do |vendor_contract|%>
    <tr>
      <td> <%=vendor_contract.id %></td>
      <td> <%= @vendors.find(vendor_contract.vendor_id).name %></td>
      <td> <%=vendor_contract.start_date %></td>
      <td> <%=vendor_contract.end_date %></td>
      <td> <%=vendor_contract.comments %></td>
      <td> <%=vendor_contract.listing_fees %></td>
      <td> <%=vendor_contract.listing_fees_paid %></td>
      <td> <%=vendor_contract.active %></td>


        <td><%= link_to 'Edit', edit_vendor_contract_path(vendor_contract) %></td>
      </tr>
      <% end %>

  </tbody>

</table>
</div>

<%= link_to 'New Contract', new_vendor_contract_path, class: "btn btn-md btn-primary"%>
