<nav class="vertical">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">First Gear</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Navigate To <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Brand", brands_path %></li>
            <li><%= link_to "Vehicle", vehicles_path %></li>
            <li><%= link_to "Category", categories_path %></li>
            <li><%= link_to "Services", services_path %></li>
            <li><%= link_to "State", states_path %></li>
            <li><%= link_to "City", cities_path %></li>
            <li><%= link_to "Region", regions_path %></li>
            <li><%= link_to "Vendor Type", vendor_types_path %></li>
            <li><%= link_to "Vendor", vendors_path %></li>
            <li><%= link_to "Vendor Contract", vendor_contracts_path %></li>
            <li><%= link_to "Rate Card", rate_cards_path %></li>
            <li><%= link_to "Vendor Service", vender_service_maps_path %></li>
              <li><%= link_to "Vendor Contract", vende_contrct_maps_path %></li>


          </ul>
        </li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
